@charset "utf-8";
/* CSS Document */

body {
	margin:0px;
	font-family: Helvetica, Arial, sans-serif
}


#container {
	width:100%;
}

#menuTop {
	height: 50px;
	border-bottom:#000000 solid;
	border-width:1px;
}

#botonMenu {
	background-image: url(../images/botonMenu.jpg);
	background-repeat:no-repeat;
	background-size:100%;
	height:100%;
	float:left;
	width: 53px;
}

#logoVenca {
	background-image: url(../images/logoVenca.jpg);
	background-repeat:no-repeat;
	background-size:100%;
	height:100%;
	float:left;
	width: 160px;
}

#botonMiCuenta {
	background-image: url(../images/botonMiCuenta.jpg);
	background-repeat:no-repeat;
	background-size:100%;
	height:100%;
	float:right;
	width: 53px;
}

#botonBolsa {
	background-image: url(../images/botonBolsa.jpg);
	background-repeat:no-repeat;
	background-size:100%;
	height:100%;
	float:right;
	width: 53px;
}

#search {
	padding:20px;
}

#searchInput {
	width:85%;
	padding: 9px;
	font-size: 15px;
}

#anuncio {
	background-image: url(../images/anuncio.jpg);
	background-repeat:no-repeat;
	background-size:100%;
	height:192px;
	float:left;
	width: 100%;
}

.menu {
	-webkit-padding-start: 0px;
	-webkit-margin-before: 0em;
	-webkit-margin-after: 0em;
}

.itemMenu {
	
	list-style-type:none;
	padding: 10px 0px 10px 18px;
	background-image: url(../images/flechaItemMenu.jpg);
	background-repeat:no-repeat;
	background-size:12px;
	
	
	border-bottom:#c0c0c0 solid;
	border-width:1px;
	font-size: 14px;
	font-weight:bold;
	background-position: right 16px;
	border-right: 13px solid transparent;
}

.itemMenuGris {
	background-color:#d0d0d0;
	list-style-type:none;
	padding: 10px 0px;
	border-bottom:#FFF solid;
	border-width:1px;
	padding-left:18px;
	font-size: 14px;
}

#tituloServicios {
	font-size: 14px;
	padding-left:18px;
	color:#999;
}

#servicios {
	background-color:#58585a;
	color:#FFF;
	font-size: 13px;
	text-align:center;
	position:relative;
	padding-bottom:207px;
}

#serviciosContainer {
	position : absolute;
	width : 290px;
	height : 207px;
	left : 50%;
	top : 50%;
	margin-left : -160px ; /*Ojo son negativos*/
	margin-top : -103px ; /*Ojo son negativos*/
	padding:20px;
	
}

#pedido {
	background-image: url(../images/pedido.png);
	background-repeat:no-repeat;
	background-size: contain;
	width:60px;
	height: 25px;
	float:left;
	padding-top: 56px;
}

#entrega {
	background-image: url(../images/camion.png);
	background-repeat:no-repeat;
	background-size: contain;
	width:83px;
	height:25px;
	float:left;
	margin-left:40px;
	padding-top: 56px;
}

#pago {
	background-image: url(../images/euro.png);
	background-repeat:no-repeat;
	background-size: contain;
	width:40px;
	height:25px;
	float:left;
	margin-left:40px;
	padding-top: 56px;
}

#venta {
	background-image: url(../images/venta.png);
	background-repeat:no-repeat;
	background-size: contain;
	background-position-x: 10px;
	width:63px;
	height: 0px;
	float:left;
	margin-left: 50px;
	padding-top: 56px;
}

#preguntas {
	background-image: url(../images/preguntas.png);
	background-repeat:no-repeat;
	background-size: contain;
	background-position-x: 6px;
	width:53px;
	height:0px;
	float:left;
	margin-left: 60px;
	padding-top: 56px;
}

#informacion {
	text-align:center;
	background-color:#d0d0d0;
	padding: 25px 0px;
	font-size: 12px;
}

#informacion a{
	color:#000;
}